*~
*#*

# CABAL
dist

# cabal-dev
/cabal-dev

# Haskell Program Coverage
.hpc

# Leksah
*.lkshs

# Intellij IDEA
.idea/workspace.xml
.idea/ant.xml

# darcs
_darcs

# ctags
TAGS

# sbt
/project
/target
