*~
*#*

# CABAL
/dist
/cabal-dev
/.cabal-sandbox
/cabal.sandbox.config

# Haskell Program Coverage
/.hpc

# Leksah
*.lkshs

# Intellij IDEA
/.idea

# darcs
/_darcs

# ctags
TAGS

# sbt
/project
/target

*.swp

